<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
	<key>alt</key>
	<string>Problem Exists Between Leopard And Chair</string>
	<key>day</key>
	<string>19</string>
	<key>img</key>
	<string>http://imgs.xkcd.com/comics/s_keyboard_leopard.png</string>
	<key>link</key>
	<string>http://wiki.xkcd.com/irc/Leopard</string>
	<key>month</key>
	<string>3</string>
	<key>news</key>
	<string>&lt;br /&gt;A helpful reader has provided an &lt;a href="http://userscripts.org/scripts/show/128626"&gt;s/keyboard/leopard/ user script&lt;/a&gt;.</string>
	<key>num</key>
	<integer>1031</integer>
	<key>safe_title</key>
	<string>s/keyboard/leopard/</string>
	<key>title</key>
	<string>s/keyboard/leopard/</string>
	<key>transcript</key>
	<string></string>
	<key>year</key>
	<string>2012</string>
</dict>
</plist>
